.elevator-shaft {
    position: relative;
    height: 400px;
    width: 120px;
    border: 2px solid #1e3a5f;
    background: repeating-linear-gradient(
        to top,
        #0a1a2f,
        #0a1a2f 50px,
        #122f52 50px,
        #122f52 52px
    );
}

.elevator-box {
    position: absolute;
    width: 100%;
    height: 70px;
    background: #e6f0ff;
    transition: bottom 1.2s ease-in-out;
}

.display {
    text-align: center;
    padding: 4px;
    background: #0d2340;
}