.display-lista {
    margin: 0;
    display: flex;
    padding: 10px;
    height: 80px;
    width: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #e6f0ff;
    border-radius: 18px;
    background: #0d2340;
}

.display-status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.lista {
    border: 1px solid #e6f0ff;
    background: #0d2340;
    color: #e6f0ff;
    border-radius: 10px;
    width: 60%;
    height: 20px;
    padding: 5px;
    text-align: center;
}